.button-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    border-radius: 12px;
    border: 1px solid transparent;
}

.button-icon:hover{
    border-color: #0b5e1d;
}

.button-icon:focus{
    border-color: #0b5e1d;
    background-color: #222222;
}